REST/RESTPROYECT/SOAPTest/Service References/ClientesWS/Clientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Clientes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64013/Clientes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64013/Clientes.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOAPPROJECT.Excepciones" />
      <xsd:import schemaLocation="http://localhost:64013/Clientes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64013/Clientes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPPROJECT.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientes_CrearCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_CrearCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_CrearCliente_RepetidoExcepcionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPPROJECT.Excepciones" name="detail" element="q1:RepetidoExcepcion" />
  </wsdl:message>
  <wsdl:message name="IClientes_ObtenerCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_ObtenerCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_ObtenerDatosCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_ObtenerDatosCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_ModificarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_ModificarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_ListarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientes" />
  </wsdl:message>
  <wsdl:message name="IClientes_ListarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientes">
    <wsdl:operation name="CrearCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/CrearCliente" message="tns:IClientes_CrearCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/CrearClienteResponse" message="tns:IClientes_CrearCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientes/CrearClienteRepetidoExcepcionFault" name="RepetidoExcepcionFault" message="tns:IClientes_CrearCliente_RepetidoExcepcionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ObtenerCliente" message="tns:IClientes_ObtenerCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ObtenerClienteResponse" message="tns:IClientes_ObtenerCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ObtenerDatosCliente" message="tns:IClientes_ObtenerDatosCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ObtenerDatosClienteResponse" message="tns:IClientes_ObtenerDatosCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ModificarCliente" message="tns:IClientes_ModificarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ModificarClienteResponse" message="tns:IClientes_ModificarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/EliminarCliente" message="tns:IClientes_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/EliminarClienteResponse" message="tns:IClientes_EliminarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ListarClientes" message="tns:IClientes_ListarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ListarClientesResponse" message="tns:IClientes_ListarClientes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientes" type="tns:IClientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/CrearCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExcepcionFault">
        <soap:fault use="literal" name="RepetidoExcepcionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/ObtenerDatosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/ModificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <soap:operation soapAction="http://tempuri.org/IClientes/ListarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Clientes">
    <wsdl:port name="BasicHttpBinding_IClientes" binding="tns:BasicHttpBinding_IClientes">
      <soap:address location="http://localhost:64013/Clientes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>