TestClientes/Service References/ClientesWS/Clientes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1684/Clientes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAtencionPedidoGas.Dominio" />
  <xs:element name="CrearCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFAtencionPedidoGas.Dominio" minOccurs="0" name="clienteACrear" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFAtencionPedidoGas.Dominio" minOccurs="0" name="CrearClienteResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>