SOAPTest/Service References/ProductosWS/Productos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAPPROJECT.Excepciones" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAPPROJECT.Excepciones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RepetidoExcepcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepetidoExcepcion" nillable="true" type="tns:RepetidoExcepcion" />
</xs:schema>